<div class="container">
    <div class="row holderDiv">
      
        <div id="archivedDiv" class='col-12 text-left'>
     
              {{#each shows}}
                    {{#if archived}}
                     <div class="showDiv row">
                        <div class="nameDiv col-lg-10 col-6"><h4>{{name}}</h4></div>
                        <div class="buttonDiv col-2"> <button class="backToWatchList btn" data-id="{{id}}">Watch Again</button></div>
                    </div>
                    <hr>
                    {{/if}}
                {{/each}}
    
        </div>
    </div>



<div class="buttonDiv col-4"> <a href="/"><button class="toIndex btn"> Go Home <i class="fas fa-home"></i></button></a></div>

