#jumbo {
    height: 220px;
    background-color: cornflowerblue;
    color:white;
}

#jumboTitle{
    padding-bottom: 25px;
}

.tvIcon {
    margin-left: 25px;
    height: 100px;
    width: 100px;
}

.btn-search {
    background-color:rgb(196, 195, 195);
    
    color:  #e05b49;;
}
.eachShowDiv {
    margin: 5px;
}
.showDiv{
    font-size: large;;
    font-weight: bold;
}

.changeWatched {
    color: white ;
    background-color: cornflowerblue;
}

.archive{
    color: white ;
    background-color: #e05b49;

}

.toArchive{
    color: white ;
    background-color: #e05b49;

}

.toIndex {
    color: white ;
    background-color: #e05b49;
}
.backToWatchList {
    color: white ;
    background-color: cornflowerblue;

}

.imageRow{
    font-size: small;
}

.deleteButton{
    margin-left: 5px;
    background-color: rgb(219, 86, 86);
    color: white;
}

@media (max-width: 1200px){
 
    .deleteButton{
        margin-left: 0;
        width: 115px;
    }

}

@media (max-width: 770px){
    #jumbo {
        height: 200px;
    

    }
    h1 {
        font-size: xx-large !important;
    }
    #jumboTitle{
        padding-bottom: 10px;
        font-size: medium;
    }
    .tvIcon {
        height: 50px;
        width: 50px;
    }
    .nameDiv {
        font-size: small !important;
        text-align: center;

    }
    .buttonDiv{
        width: 100%;
    }
    .backToWatchList {
        font-size: small;
        width: 100px;
    }
    .deleteButton{
        margin-left: 0;
        width: 100px;
    }



}
@media (max-width: 576px){
    #jumbo {
        
        height: 150px;

    }
    h1 {
        font-size: xx-large !important;
    }
    #jumboTitle{
        padding-bottom: 10px;
        font-size: medium;
    }
    .tvIcon {
        height: 50px;
        width: 50px;
    }
    #watchedDiv{
        padding-right: 50px;
    }
    #toWatchDiv {
        padding-right: 50px;
    }
    #archivedDiv {
        padding-right: 50px;
    }
    .deleteButton{
        margin-left: 0;
    }
}

@media (max-width: 321px){
    #jumbo {
        
        height: 150px;

    }
    h1 {
        font-size: x-large !important;
    }
    h4 {
        font-size: small !important;
    }
    #jumboTitle{
        padding-bottom: 10px;
        font-size: medium;
    }
    .tvIcon {
        height: 50px;
        width: 50px;
    }
    .deleteButton{
        margin-left: 0;
    }
}